<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update course</title>
</head>
<body>
<div class="Block" >
    <form   th:action="@{/course/update(companyId=${param.companyId})}" th:method="post" th:object="${courseUpdate}">
        <input type="hidden" name = "id" th:field="*{id}">
        <div>
            <span class="title">Company name:</span>
            <input type="text" th:field="*{courseName}" id="companyName"/>
        </div>
        <div>
            <span class="title">Located country:</span>
            <input type="text" th:field="*{duration}" id="locatedCountry"/>
        </div>
        <button class="mainButton" type="submit">Update</button>
    </form>
</div>
</body>
</html>